img{
	width: 100%;
}

h1{
	color: blue;
	font-size: 60px;
}

#board{
	max-width: 640px;
	min-width: 320px;
	float: none;
	margin: auto;
}

.square{
	background-color: #FFF;
	border: 2px solid #000;
	outline: none;
	width: 30%;
	/* padding: 30px 0; */
	font-size: 80px;
	height: 185px;
	width: 185px;
	vertical-align: top;
}

.square:hover{
	background-color: yellow;
}

.winning-square{
	background-color: green !important;
	color: red !important;
}

#message{
	min-height: 30px;
}