h1{
	color: blue;
	font-size: 60px;
}

#board{
	max-width: 640px;
	min-width: 320px;
	float: none;
	margin: auto;
}

.square{
	background-color: #FFF;
	border: 2px solid #000;
	outline: none;
	width: 30%;
	padding: 30px 0;
	font-size: 80px;
}

.square:hover{
	background-color: yellow;
}